<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="base.com.ua.listeners.CustomListener"/>
    </listeners>
    <test name="Gmail Test">
        <classes>
            <class name="TestGmail">
            </class>
        </classes>
    </test>
    <test name="GitHub Test">
        <classes>
            <class name="TestGitHub"/>
        </classes>
    </test>
</suite>